next
node_modules
.next/app-build-manifest.json
.next/build-manifest.json
.next/fallback-build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/images/6T5rnZpNkalcdX2HsauSCfKZ7RXpHUUisejN50hWddk=/60.1750447174341.3K4jDRmPJl-vbxNEOvDb5X4VFVVmg9yujTPg4K1DtpA=.webp
.next/cache/images/8lbLxhvuOzNaHIRrtPcLMjKD8IBbifNzFtIFzjkGwBU=/60.1750000425059.ogvMBJHks4GMCQ1mEAv6O6q3xnRZ9OrSJb0hI1BcdbI=.webp
.next/cache/images/aGjjjhVx3+I3Ym2INPoHs3JJm3rrc-4ewv5Pa6V6U28=/60.1750000477101.2Y-3ccMA30eufkM8ohjv7Uun3lVe7hWtb7I38FYqKEU=.webp
.next/cache/images/E+8dONKul13Tj4k-iG7JzRgBpMiCl5C2A4g7jLZjG9U=/60.1750447174849.Z7UpSxyqOV08AjOAZyWY9ozjA9Rn3fVJMj2UIH2j2pw=.webp
.next/cache/images/F9JLKBX8CeIHQZTvKyLpHIYi3tAcP3Bl9UMtwzJUYFM=/60.1750447175187.YogiQdD6Uk4Z0K5J4JEewwmkkz-EUkQJChlPPFyQTn8=.webp
.next/cache/images/LYnytHPVeI+odx0iDB7vDQsjU0q4hzt7fecqt2FJyvE=/60.1750447174570.aH6Tek7FgviRMJcP3Z+Phmps5jdAyb4KHvBoARYg5J4=.webp
.next/cache/images/nCig2DftzTX0-4xOw07PPFC8w-Pi9kQA72E4N0fBMf4=/60.1750447174514.OJHrubDf82UAOL5EsfScFs6vo19K5VlTXy32pckh00U=.webp
.next/cache/images/TJ2Qny3H+Q3+sEA3EENSb7jDBWJiu6ykbKa04T6ikqM=/60.1750000614981.+HuS-0fsna+uI1WKxIqHewW+uAsqqVaazjXqHT+CvFU=.webp
.next/cache/images/uc2CdD6Qq7-W-UKktPCyel8p91DIWCZzNBuOygnAwVI=/60.1750001613989.xol6y-KTDfOLLwBDcELdZKTpRLlMP8d+ODXI3y5U5yE=.webp
.next/cache/images/YH1RS959aEJZwFEN1XzpK-r5f7bEPn4qmDECgyf1iSw=/60.1750447102418.4sWq8vsNt58Ub+OLHEO7gZ09xnpH1rKN4ZihsFqJh7Q=.webp
.next/cache/images/YVFRc5TFDaBZjjWNaLQCoUdGJhoXuzZg1K7HLms5ZA8=/60.1750447173036.5hvt8PfVF3JUHj+U3c+xqg6ROirQZz1OZaAPDEfcliY=.webp
.next/cache/images/zxhtAVzjsnv+DdZiyT1ARcJOM5miEyvF0bwZ6mGT9j0=/60.1750166407761.miZ6u5VVeFmK8lcRd-YWn0dRZlgdKZhsUSsAmd7k1cQ=.webp
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/11.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/13.pack.gz
.next/cache/webpack/client-development/14.pack.gz
.next/cache/webpack/client-development/15.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/cache/webpack/client-development-fallback/index.pack.gz
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/13.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/_error.js
.next/server/_rsc_src_app_articles_crafting-a-design-system-for-a-multiplanetary-future_page_mdx.js
.next/server/_rsc_src_app_articles_crafting-a-design-system-for-a-multiplanetary-future_planetaria-design--c2c40a.js
.next/server/_rsc_src_app_articles_introducing-animaginary_page_mdx.js
.next/server/_rsc_src_app_articles_page_tsx.js
.next/server/_rsc_src_app_articles_rewriting-the-cosmos-kernel-in-rust_page_mdx.js
.next/server/app-paths-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/about/page_client-reference-manifest.js
.next/server/app/about/page.js
.next/server/app/articles/page_client-reference-manifest.js
.next/server/app/articles/page.js
.next/server/app/projects/page_client-reference-manifest.js
.next/server/app/projects/page.js
.next/server/app/speaking/page_client-reference-manifest.js
.next/server/app/speaking/page.js
.next/server/app/uses/page_client-reference-manifest.js
.next/server/app/uses/page.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/vendor-chunks/@floating-ui.js
.next/server/vendor-chunks/@headlessui.js
.next/server/vendor-chunks/@nodelib.js
.next/server/vendor-chunks/@react-aria.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/braces.js
.next/server/vendor-chunks/clsx.js
.next/server/vendor-chunks/fast-glob.js
.next/server/vendor-chunks/fastq.js
.next/server/vendor-chunks/fill-range.js
.next/server/vendor-chunks/is-extglob.js
.next/server/vendor-chunks/is-glob.js
.next/server/vendor-chunks/is-number.js
.next/server/vendor-chunks/merge2.js
.next/server/vendor-chunks/micromatch.js
.next/server/vendor-chunks/next-themes.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/picomatch.js
.next/server/vendor-chunks/queue-microtask.js
.next/server/vendor-chunks/reusify.js
.next/server/vendor-chunks/run-parallel.js
.next/server/vendor-chunks/tabbable.js
.next/server/vendor-chunks/to-regex-range.js
.next/static/chunks/_error.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/not-found.js
.next/static/chunks/app/page.js
.next/static/chunks/app/_not-found/page.js
.next/static/chunks/app/about/page.js
.next/static/chunks/app/articles/page.js
.next/static/chunks/app/projects/page.js
.next/static/chunks/app/speaking/page.js
.next/static/chunks/app/uses/page.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/animaginary.8d221e52.svg
.next/static/media/avatar.0b7311d0.jpg
.next/static/media/cosmos.c70b0295.svg
.next/static/media/deloitte.99f40e5e.svg
.next/static/media/helio-stream.2ac8d11f.svg
.next/static/media/homequity.499b60ec.svg
.next/static/media/image-1.c5d2141c.jpg
.next/static/media/image-2.3c6c01cf.jpg
.next/static/media/image-3.454151b1.jpg
.next/static/media/image-4.5c6d0ed6.jpg
.next/static/media/image-5.6c6f2784.jpg
.next/static/media/open-shuttle.db0327e4.svg
.next/static/media/planetaria-design-system.d4cfce90.png
.next/static/media/planetaria.ecd81ade.svg
.next/static/media/portrait.8aa2acb3.jpg
.next/static/media/uoft.2d6835e9.svg
.next/static/webpack/0b12a7f02c4c57f8.webpack.hot-update.json
.next/static/webpack/0d10c28faf9614ee.webpack.hot-update.json
.next/static/webpack/0de58637d7539a90.webpack.hot-update.json
.next/static/webpack/1b60b41111ad36a2.webpack.hot-update.json
.next/static/webpack/2b655b28a733b028.webpack.hot-update.json
.next/static/webpack/02e9f9443d251fd7.webpack.hot-update.json
.next/static/webpack/4c95a53691aac559.webpack.hot-update.json
.next/static/webpack/5c7331ef042e7af3.webpack.hot-update.json
.next/static/webpack/6cf207a4e062595f.webpack.hot-update.json
.next/static/webpack/6e644033c7409e85.webpack.hot-update.json
.next/static/webpack/7c5bbae7321fdd6f.webpack.hot-update.json
.next/static/webpack/9c46268ebc9c3bd1.webpack.hot-update.json
.next/static/webpack/9f66a25e1dd32dec.webpack.hot-update.json
.next/static/webpack/15bd485af6f832bc.webpack.hot-update.json
.next/static/webpack/30eb6fa38281757a.webpack.hot-update.json
.next/static/webpack/46e74cab6748bd3f.webpack.hot-update.json
.next/static/webpack/70fef20168cbc7d6.webpack.hot-update.json
.next/static/webpack/75f1a530ea569fd2.webpack.hot-update.json
.next/static/webpack/83ceaeda6e51b14b.webpack.hot-update.json
.next/static/webpack/155ea712b2d8580c.webpack.hot-update.json
.next/static/webpack/379bb6507fda82b8.webpack.hot-update.json
.next/static/webpack/600e5ece86ca8060.webpack.hot-update.json
.next/static/webpack/1024e792daf5d022.webpack.hot-update.json
.next/static/webpack/6457f60e0529145a.webpack.hot-update.json
.next/static/webpack/9360ee36f421de9b.webpack.hot-update.json
.next/static/webpack/54486eda430e0361.webpack.hot-update.json
.next/static/webpack/58849d25ff044676.webpack.hot-update.json
.next/static/webpack/70360c6f5e084240.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/a2fa6ff6391185c0.webpack.hot-update.json
.next/static/webpack/a4fcfa9e9c266850.webpack.hot-update.json
.next/static/webpack/a86c4e4e3860551d.webpack.hot-update.json
.next/static/webpack/aa4a7cabfa337d6e.webpack.hot-update.json
.next/static/webpack/aa68611060bb7454.webpack.hot-update.json
.next/static/webpack/abfa3569a89cbde4.webpack.hot-update.json
.next/static/webpack/add669d1e10a043b.webpack.hot-update.json
.next/static/webpack/b90d6f323824873e.webpack.hot-update.json
.next/static/webpack/b86182c9c55016e1.webpack.hot-update.json
.next/static/webpack/b3532943decef61c.webpack.hot-update.json
.next/static/webpack/c6b01a126a5dbde6.webpack.hot-update.json
.next/static/webpack/c1630eaabb261ccb.webpack.hot-update.json
.next/static/webpack/c219021ba363070d.webpack.hot-update.json
.next/static/webpack/d3fa4c001bb38604.webpack.hot-update.json
.next/static/webpack/d78f833570aedb7a.webpack.hot-update.json
.next/static/webpack/e4ee0b4d3fa5e55c.webpack.hot-update.json
.next/static/webpack/ea0b89bc9bfec615.webpack.hot-update.json
.next/static/webpack/eaf49ae4208e7871.webpack.hot-update.json
.next/static/webpack/f1a436d5fd6b51a2.webpack.hot-update.json
.next/static/webpack/f983c65f4878cc5b.webpack.hot-update.json
.next/static/webpack/f8273d8fe2d0f5fc.webpack.hot-update.json
.next/static/webpack/webpack.0b12a7f02c4c57f8.hot-update.js
.next/static/webpack/webpack.0d10c28faf9614ee.hot-update.js
.next/static/webpack/webpack.0de58637d7539a90.hot-update.js
.next/static/webpack/webpack.1b60b41111ad36a2.hot-update.js
.next/static/webpack/webpack.2b655b28a733b028.hot-update.js
.next/static/webpack/webpack.02e9f9443d251fd7.hot-update.js
.next/static/webpack/webpack.4c95a53691aac559.hot-update.js
.next/static/webpack/webpack.5c7331ef042e7af3.hot-update.js
.next/static/webpack/webpack.6cf207a4e062595f.hot-update.js
.next/static/webpack/webpack.6e644033c7409e85.hot-update.js
.next/static/webpack/webpack.7c5bbae7321fdd6f.hot-update.js
.next/static/webpack/webpack.9c46268ebc9c3bd1.hot-update.js
.next/static/webpack/webpack.9f66a25e1dd32dec.hot-update.js
.next/static/webpack/webpack.15bd485af6f832bc.hot-update.js
.next/static/webpack/webpack.30eb6fa38281757a.hot-update.js
.next/static/webpack/webpack.46e74cab6748bd3f.hot-update.js
.next/static/webpack/webpack.70fef20168cbc7d6.hot-update.js
.next/static/webpack/webpack.75f1a530ea569fd2.hot-update.js
.next/static/webpack/webpack.83ceaeda6e51b14b.hot-update.js
.next/static/webpack/webpack.155ea712b2d8580c.hot-update.js
.next/static/webpack/webpack.379bb6507fda82b8.hot-update.js
.next/static/webpack/webpack.600e5ece86ca8060.hot-update.js
.next/static/webpack/webpack.1024e792daf5d022.hot-update.js
.next/static/webpack/webpack.6457f60e0529145a.hot-update.js
.next/static/webpack/webpack.9360ee36f421de9b.hot-update.js
.next/static/webpack/webpack.54486eda430e0361.hot-update.js
.next/static/webpack/webpack.58849d25ff044676.hot-update.js
.next/static/webpack/webpack.70360c6f5e084240.hot-update.js
.next/static/webpack/webpack.a2fa6ff6391185c0.hot-update.js
.next/static/webpack/webpack.a4fcfa9e9c266850.hot-update.js
.next/static/webpack/webpack.a86c4e4e3860551d.hot-update.js
.next/static/webpack/webpack.aa4a7cabfa337d6e.hot-update.js
.next/static/webpack/webpack.aa68611060bb7454.hot-update.js
.next/static/webpack/webpack.abfa3569a89cbde4.hot-update.js
.next/static/webpack/webpack.add669d1e10a043b.hot-update.js
.next/static/webpack/webpack.b90d6f323824873e.hot-update.js
.next/static/webpack/webpack.b86182c9c55016e1.hot-update.js
.next/static/webpack/webpack.b3532943decef61c.hot-update.js
.next/static/webpack/webpack.c6b01a126a5dbde6.hot-update.js
.next/static/webpack/webpack.c1630eaabb261ccb.hot-update.js
.next/static/webpack/webpack.c219021ba363070d.hot-update.js
.next/static/webpack/webpack.d3fa4c001bb38604.hot-update.js
.next/static/webpack/webpack.d78f833570aedb7a.hot-update.js
.next/static/webpack/webpack.e4ee0b4d3fa5e55c.hot-update.js
.next/static/webpack/webpack.ea0b89bc9bfec615.hot-update.js
.next/static/webpack/webpack.eaf49ae4208e7871.hot-update.js
.next/static/webpack/webpack.f1a436d5fd6b51a2.hot-update.js
.next/static/webpack/webpack.f983c65f4878cc5b.hot-update.js
.next/static/webpack/webpack.f8273d8fe2d0f5fc.hot-update.js
.next/static/webpack/app/layout.0b12a7f02c4c57f8.hot-update.js
.next/static/webpack/app/layout.0d10c28faf9614ee.hot-update.js
.next/static/webpack/app/layout.0de58637d7539a90.hot-update.js
.next/static/webpack/app/layout.1b60b41111ad36a2.hot-update.js
.next/static/webpack/app/layout.2b655b28a733b028.hot-update.js
.next/static/webpack/app/layout.02e9f9443d251fd7.hot-update.js
.next/static/webpack/app/layout.4c95a53691aac559.hot-update.js
.next/static/webpack/app/layout.5c7331ef042e7af3.hot-update.js
.next/static/webpack/app/layout.6cf207a4e062595f.hot-update.js
.next/static/webpack/app/layout.6e644033c7409e85.hot-update.js
.next/static/webpack/app/layout.7c5bbae7321fdd6f.hot-update.js
.next/static/webpack/app/layout.9c46268ebc9c3bd1.hot-update.js
.next/static/webpack/app/layout.15bd485af6f832bc.hot-update.js
.next/static/webpack/app/layout.30eb6fa38281757a.hot-update.js
.next/static/webpack/app/layout.46e74cab6748bd3f.hot-update.js
.next/static/webpack/app/layout.70fef20168cbc7d6.hot-update.js
.next/static/webpack/app/layout.75f1a530ea569fd2.hot-update.js
.next/static/webpack/app/layout.155ea712b2d8580c.hot-update.js
.next/static/webpack/app/layout.379bb6507fda82b8.hot-update.js
.next/static/webpack/app/layout.1024e792daf5d022.hot-update.js
.next/static/webpack/app/layout.6457f60e0529145a.hot-update.js
.next/static/webpack/app/layout.9360ee36f421de9b.hot-update.js
.next/static/webpack/app/layout.54486eda430e0361.hot-update.js
.next/static/webpack/app/layout.58849d25ff044676.hot-update.js
.next/static/webpack/app/layout.70360c6f5e084240.hot-update.js
.next/static/webpack/app/layout.a2fa6ff6391185c0.hot-update.js
.next/static/webpack/app/layout.a4fcfa9e9c266850.hot-update.js
.next/static/webpack/app/layout.a86c4e4e3860551d.hot-update.js
.next/static/webpack/app/layout.aa4a7cabfa337d6e.hot-update.js
.next/static/webpack/app/layout.abfa3569a89cbde4.hot-update.js
.next/static/webpack/app/layout.add669d1e10a043b.hot-update.js
.next/static/webpack/app/layout.b90d6f323824873e.hot-update.js
.next/static/webpack/app/layout.b86182c9c55016e1.hot-update.js
.next/static/webpack/app/layout.b3532943decef61c.hot-update.js
.next/static/webpack/app/layout.c6b01a126a5dbde6.hot-update.js
.next/static/webpack/app/layout.c1630eaabb261ccb.hot-update.js
.next/static/webpack/app/layout.c219021ba363070d.hot-update.js
.next/static/webpack/app/layout.d3fa4c001bb38604.hot-update.js
.next/static/webpack/app/layout.d78f833570aedb7a.hot-update.js
.next/static/webpack/app/layout.e4ee0b4d3fa5e55c.hot-update.js
.next/static/webpack/app/layout.ea0b89bc9bfec615.hot-update.js
.next/static/webpack/app/layout.f1a436d5fd6b51a2.hot-update.js
.next/static/webpack/app/layout.f983c65f4878cc5b.hot-update.js
.next/static/webpack/app/layout.f8273d8fe2d0f5fc.hot-update.js
.next/types/package.json
.next/types/app/layout.ts
.next/types/app/page.ts
.next/types/app/about/page.ts
.next/types/app/articles/page.ts
.next/types/app/projects/page.ts
.next/types/app/speaking/page.ts
.next/types/app/uses/page.ts
